

/* NEW STUFF */

/* tables */



table.tablesorter {      /* tabla */
    font-family:"Open Sans";
    background-color: #e6EEEE;
    margin:10px 0pt 15px;
    font-size: 10 pt;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {   /* cabecera */
    background-color: #0b80c3;
	font-family:"Open Sans";
	font-weight: bold;
    border: 1px solid #FFF;
    font-size: 12pt;
    padding: 4px;
}

tr:nth-of-type(odd) { 
    background: #f2f2f2; 
}



table tr:hover {
  background-color: #c1d6db; 
}


/* Color of non-visited links */
table.tablesorter a:link{
	color:#000064;
} 

/* Color of visited links */
table.tablesorter a:visited{
	color:#640000;
}



table.tablesorter a:hover{
	text-decoration:underline;
	font-style:normal;
	color:#ffff00;
}

table.tablesorter tbody, table thead
{
    /*display: block;
    display:table-header-group;*/
    display:inline-block;

}

table.tablesorter tbody 
{
   overflow: auto;
   height: 600px;
}

 table.tablesorter th
{
    width: 100%;
}

table.tablesorter td
{
    width: 100%;
} 


table.tablesorter scroll {
  max-height: 100px;
  overflow: auto;
} 




table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

/*

table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

*/



/* accessibility for mobile */
/*Mobile View*/
@media 
only screen and 
    (max-width: 760px){
    td, tr { 
        display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
        border: 1px solid #0b80c3; 
    }
    tr + tr{
        margin-top: 1.5em;
    }
	td { 
		/* make like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
        background-color: #f2f2f2;
        text-align: left; 
	}
	td:before { 
        content: attr(data-label);
        display: inline-block;
        line-height: 1.5;
	    margin-left: -100%;
        width: 100%;
		white-space: nowrap;
	}
}


/*  ATLAS STYLE-GUIDELINE COLOR: #0b80c3 */
