table.tablesorter{
	background-color:#FFF;
	font-size:10pt;
	text-align:left;
	border:0; 
	overflow:scroll
}

table.tablesorter thead tr th{
	background-color:#DCDCDC;
	border:1px solid #FFF;
	padding:4px 20px 4px 4px;
}

table.tablesorter thead tr .header{
	background-image:url(../images/bg.gif);
	background-repeat:no-repeat;
	background-position:center right;
	cursor:pointer;
}

table.tablesorter tbody td{
	color:#000;
	background-color:#E6E6FA;
	vertical-align:top;
	border:1px solid #FFF;
	padding:4px;
}

